.tale_preview_container {
  position: relative;
}

.tale_preview {
  position: relative;
  height: 18rem;
  width: 17rem;
  background: linear-gradient(var(--secondary-background), var(--secondary-background));
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 4fr 2fr;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1rem;
  box-shadow: 1px 1px 5px black;
}

.tale_preview:hover {
  box-shadow: 0px 0px 3px 3px black;
  transform: scale(1.1);
}

.tale_preview_main {
  width: 100%;
  border-radius: inherit;
  height: 100%;
}

.tale_preview_image {
  height: 15rem;
  width: 16rem;
  object-fit: cover;
  border-radius: inherit;
  box-shadow: 0px 0px 3px black;
}

.tale_preview_add_cart {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 1.5rem;
  color: var(--third-color);
}

.tale_preview_title_container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tale_preview_title {
  color: var(--third-color);
  font-weight: bold;
  font-size: 0.9rem;
  position: relative;
}
