.tale_preview {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-color: var(--primary-background);
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 4fr 1fr;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tale_preview:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.tale_preview_main {
  background-image: url("../../../assets/cover/soul.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tale_preview_main > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.tale_preview_add_cart {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  color: var(--third-color);
}

.tale_previeew_inside {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.432);
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding-top: 4rem;
}

.tale_previeew_inside_show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.tale_preview_title_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tale_preview_title {
  color: var(--third-color);
  font-weight: bold;
  z-index: 10;
}

.tale_preview_svg {
  width: 200%;
  height: 250%;
  position: absolute;
  bottom: 0rem;
}

.tale_preview_waveform {
  fill: var(--secondary-background);
}
