.collection_item_container {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  justify-self: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 1rem;
}

.collection_item {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transform: scale(0.9);
  transition: transform 0.3s ease;
  box-shadow: 3px 3px 5px black;
}

.collection_item:hover {
  transform: scale(1);
}

.collection_item {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.collection_item_image {
  width: 100%;
  border-radius: inherit;
  height: 100%;
}

.collection_item_backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: flex;
  align-items: flex-end;
}

.collection_item_backdrop:hover {
  backdrop-filter: brightness(100%);
}

.collection_item_title {
  width: 100%;
  margin: 0;
  color: var(--third-color);
  text-shadow: 1px 1px 3px black;
  padding: 0.3rem;
}

.collection_item_backdrop:hover .collection_item_title {
  text-shadow: 2px 2px 2px black;
}
