.reset_password_container {
  position: relative;
  display: flex;
  gap: 10%;
  align-self: center;
  justify-self: center;
  width: 80%;
  z-index: 5;
  margin-top: 5%;
}

.reset_passwrod_form {
  padding: 3rem;
  border-radius: 8px;
  width: 100%;
  max-width: 30rem;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  font-family: "Arial", sans-serif;
  background-size: cover;
  background-color: var(--secondary-background);
  background: linear-gradient(var(--primary-background), var(--secondary-background));
}

.reset_password_form_element {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.reset_password_form_element label {
  color: var(--third-color);
  font-size: 14px;
  margin-bottom: 8px;
}

.reset_password_form_element input {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.733);
  border: 1px solid gray;
  border-radius: 4px;
  color: var(--third-color);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.reset_password_form_element input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(199, 80, 0, 0.801);
}

.reset_password_form_submit {
  padding: 12px 20px;
  background-color: rgba(198, 137, 90, 0.671);
  color: var(--third-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.reset_password_form_submit:hover {
  transform: scale(1.01);
  background-color: var(--secondary-color);
}

.reset_password_form_submit:active {
  background-color: var(--primary-color);
}

.reset_passwrod_form .error {
  color: var(--error-color);
  font-size: 12px;
  margin-top: 5px;
}
